<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AJPD - Asociación Juvenil Proyecto Dubini: noticias, actividades y participación juvenil. Únete a nuestro proyecto y forma parte del cambio.">

    <title>AJPD - Premios</title>
    <link rel="stylesheet" href="/styles/pages/directorate.css">
    <link rel="stylesheet" href="/styles/pages/awards.css">
    <link rel="stylesheet" href="/styles/components/medal.css">

    <link rel="stylesheet" href="/styles/layout/header.css">
    <link rel="stylesheet" href="/styles/layout/footer.css">
    <link rel="stylesheet" href="/styles/components/hero.css">
    <link rel="stylesheet" href="/styles/components/content.css">
    <link rel="stylesheet" href="/styles/components/wsp-icon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/base.css">
</head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <main role="main">

        <section class="featured-section">
            <h1>Premios</h1>
            <div class="container">
                <div class="scene">
                    <div class="medalla" id="medalla">
                        <div class="cara front">
                            <div class="medal-content">
                                <h1>Peonza<br>de Oro</h1>
                                <p>XVI Premio<br>Internacional Espiral<br>(octubre 2022)</p>
                            </div>
                        </div>
                        <div class="cara back">
                            <div class="medal-content">
                                <img src="https://mcybqxqlujczgclidnar.supabase.co/storage/v1/object/public/ajpd-storage/premio1.webp" alt="Reverso de la medalla" loading="lazy"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scene">
                    <div class="medalla" id="medalla2">
                        <div class="cara front">
                            <div class="medal-content">
                                <h1>Premio <br>Fundación Ibercaja</h1>
                                <p style="margin-top: -2px;">II Concurso R7 <br>por el Planeta 2022</p>
                            </div>
                        </div>
                        <div class="cara back">
                            <div class="medal-content">
                                <img src="https://mcybqxqlujczgclidnar.supabase.co/storage/v1/object/public/ajpd-storage/premio2.webp" alt="Reverso de la medalla" loading="lazy"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div th:replace="~{fragments/wsp-icon :: wsp-icon}"></div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
<script src="/scripts/script.js"></script>
<script src="/scripts/components/medal.js"></script>

</html>