<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AJPD - Asociación Juvenil Proyecto Dubini: noticias, actividades y participación juvenil. Únete a nuestro proyecto y forma parte del cambio.">

    <title>AJPD - Términos y Condiciones de Uso</title>
    <link rel="stylesheet" href="/styles/pages/privacy.css">
    <link rel="stylesheet" href="/styles/layout/header.css">
    <link rel="stylesheet" href="/styles/pages/documents.css">
    <link rel="stylesheet" href="/styles/layout/footer.css">
    <link rel="stylesheet" href="/styles/components/hero.css">
    <link rel="stylesheet" href="/styles/components/content.css">
    <link rel="stylesheet" href="/styles/components/wsp-icon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/base.css">
</head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <main role="main" id="main-content">
        <section class="page-hero">
            <div class="page-hero-content">
                <h1>Términos y Condiciones de Uso</h1>
                <h2>1. Introducción</h2>
                <p>
                    Bienvenido al sitio web de la Asociación Juvenil Proyecto Dubini (AJPD), accesible a través de
                    <a href="https://proyectodubini.org" target="_blank">proyectodubini.org</a>.
                    Estos términos y condiciones rigen su acceso y uso de este sitio web. Al acceder o utilizar el sitio
                    web,
                    usted acepta estar sujeto a estos Términos y a nuestra Política de Privacidad. Si no está de acuerdo
                    con alguno
                    de estos términos, no utilice este sitio web.
                </p>

                <h2>2. Uso del Sitio</h2>
                <ul>
                    <li>
                        <p>Este sitio web está diseñado para proporcionar información y recursos relacionados con los
                            derechos juveniles y las actividades de AJPD.</p>
                    </li>
                    <li>
                        <p>El contenido de este sitio web es para su uso personal y no comercial. Está prohibido
                            modificar, copiar, distribuir, transmitir, exhibir,
                            realizar, reproducir, publicar, licenciar, crear obras derivadas, transferir o vender
                            cualquier información, software, productos o servicios
                            obtenidos de este sitio web, salvo lo expresamente permitido por estos términos.</p>
                    </li>
                </ul>

                <h2>3. Propiedad Intelectual</h2>
                <p>
                    Todo el contenido presente en este sitio web, incluyendo, pero no limitado a, textos, gráficos,
                    logos, iconos, imágenes, clips de audio y software,
                    es propiedad de AJPD o de sus proveedores de contenido y está protegido por las leyes de derechos de
                    autor y marcas comerciales. El uso indebido
                    de cualquier contenido del sitio web puede constituir una violación de las leyes de derechos de
                    autor, marcas comerciales y otras leyes aplicables.
                </p>

                <h2>4. Enlaces a Terceros</h2>
                <p>
                    Este sitio web puede contener enlaces a sitios web operados por terceros. Estos enlaces se
                    proporcionan para su comodidad y no significan la
                    aprobación de dichos sitios por parte de AJPD. AJPD no tiene control sobre estos sitios y no es
                    responsable de su contenido o de sus políticas de privacidad.
                </p>

                <h2>5. Limitación de Responsabilidad</h2>
                <p>
                    AJPD no será responsable por ningún daño directo, indirecto, incidental, especial o consecuente que
                    resulte del uso o la incapacidad de usar
                    este sitio web, incluso si AJPD ha sido informada de la posibilidad de tales daños.
                </p>

                <h2>6. Modificaciones de los Términos</h2>
                <p>
                    AJPD se reserva el derecho de modificar estos Términos en cualquier momento. Cualquier cambio será
                    efectivo inmediatamente después de su publicación
                    en el sitio web. Al continuar utilizando el sitio después de dichos cambios, usted acepta estar
                    sujeto a los términos modificados.
                </p>

                <h2>7. Jurisdicción</h2>
                <p>
                    Estos Términos se regirán e interpretarán de acuerdo con las leyes de España, y en particular, según
                    corresponda, por la legislación específica de la
                    Comunidad Autónoma de Canarias. Cualquier disputa relacionada con estos Términos será sometida a la
                    jurisdicción exclusiva de los tribunales de Tenerife,
                    Islas Canarias, España.
                </p>

                <h2>8. Contacto</h2>
                <p>
                    Si tiene alguna pregunta sobre estos Términos, póngase en contacto con nosotros a través de
                    <a href="mailto:admin@proyectodubini.org">proyectodubini@gmail.com</a>
                </p>

                <br>
                <p><strong>Gracias,</strong></p>
                <p><strong>Junta Directiva de la Asociación Juvenil Proyecto Dubini - AJPD</strong></p>
            </div>
        </section>
    </main>
    <div th:replace="~{fragments/wsp-icon :: wsp-icon}"></div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
<script src="/scripts/script.js"></script>

</html>